body {
  font-family: 'Manrope', sans-serif;
}

.main {
  overflow: hidden;
}

.dashboard {
  min-height: 100vh;
  background: #F4F7FE;

  &__header {
    box-shadow: 3px 3px 20px 0px #E7EDFF;
    background: #fff;
    padding: 20px 50px;
    position: relative;
    z-index: 1;
  }
}

.sidebar {
  width: 275px;
  min-width: 275px;
  background: #081333 url("../images/dist/sidebar.jpg") no-repeat 0 0 / 275px auto;
  position: relative;
  z-index: 2;

  &__header {
    padding-top: 18px;
  }

  &__body {
    padding: 37px 0 30px 29px;

    &__nav {

      .nav-item {
        margin-bottom: 10px;
      }

      .nav-link {
        padding: 10px 10px 10px 30px;
        font-size: 16px;
        color: #fff;
        line-height: 1.2;
        height: 50px;
        text-decoration: none;
        border-radius: 25px 0 0 25px;
        border-right: 5px solid transparent;

        &.active {
          background: #1F4DC1;
          border-right-color: #94C860;

          .sidebar__body__nav__ico {
            color: #94C860;
          }
        }
      }

      &__ico {
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

.btn {
  --bs-border-radius: 20px;
  --bs-btn-padding-x: 20px;
  --bs-btn-padding-y: 9px;
  --bs-btn-line-height: 20px;
  --bs-btn-font-size: 16px;
  --bs-btn-font-weight: 500;
  letter-spacing: 1.6px;

  .btn__ico-r {
    margin-right: -5px;
  }

  &.btn-sm {
    --bs-border-radius-sm: 15px;
    --bs-btn-padding-y: 4.5px;
    --bs-btn-padding-x: 15px;
    --bs-btn-font-size: 14px;
    letter-spacing: 0;
  }

  &.radius-10 {
    border-radius: 10px !important;
  }
}

.btn-primary {
  --bs-btn-bg: #1F4DC1;
  --bs-btn-border-color: #1F4DC1;
}

.btn-success {
  --bs-btn-bg: #19BB77;
  --bs-btn-border-color: #19BB77;
}

.btn-outline-danger {
  --bs-btn-color: #EB5757;
  --bs-btn-border-color: #EB5757;
}

.btn-outline-success {
  --bs-btn-color: #219653;
  --bs-btn-border-color: #219653;
}

.btn-light {
  --bs-btn-color: #1F4DC1;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  box-shadow: 3px 3px 20px 0px #E7EDFF;
}

.dashboard__user {
  &__ava {
    width: 60px;
    height: 60px;
    min-width: 60px;
    background: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 20px #E7EDFF;
    border-radius: 30px;

    img {
      display: block;
      border-radius: 25px;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }

  &__desc {
    padding-left: 28px;
    flex-grow: 1;
  }

  &__position {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #A3AED0;
    margin-bottom: 3px;
  }

  &__name {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
  }
}

.dashboard__header__nav {
  li:not(:last-child) {
    padding-right: 38px;
  }

  a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #A3AED0;

    &:hover,
    &.active {
      color: #2B3674;
    }
  }
}

.dashboard__header__count-event {
  position: absolute;
  z-index: 1;
  top: -18px;
  right: -15px;
  background: #19BB77 !important;
  line-height: 1 !important;
  font-style: normal;
  font-weight: 500;
  --bs-badge-padding-x: 2px;
  --bs-badge-padding-y: 2px;
  --bs-badge-font-size: 16px;
  min-width: 20px;
}

.dashboard__main__top {
  padding: 35px 45px;
}

.application-stages {
  &__steps {
    padding-bottom: 30px;

    &__current {
      padding-left: 45px;
      padding-right: 13px;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }

    &__line {
      color: #A3AED0;
    }

    &__total {
      color: #A3AED0;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      padding-right: 12px;
    }
  }

  &__nav {
    &__back {
      min-width: 45px;
      width: 45px;

      a {
        color: #A3AED0;
        text-decoration: none;
        display: block;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    color: #000;
    margin: 0;
    padding: 0 20px 0 0;
  }

  &__progress {

    &__label {
      color: #219653;
      padding-right: 15px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }
}

.btn-info {
  padding: 0;
  background: transparent;
  cursor: pointer;
  border: none;
  color: #A3AED0;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.dashboard__main__body {
  padding: 0 45px 67px;
}

.dashboard__card {
  --bs-card-border-width: 0;
  border-radius: 20px;
  box-shadow: 3px 3px 20px 0px #E7EDFF;
}

.card-body {
  padding: 20px 85px 30px 40px;
}

.input-field {
  position: relative;
  padding-bottom: 15px;

  &__text {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #A3AED0;
    border-radius: 0;
    outline: none;
    height: 60px;
    display: block;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #000;
    margin: 0;
    padding: 18px 0 0;
    transition: all .3s ease-in-out;

    &:not(.placeholder-show)::placeholder {
      color: transparent;
    }

    &--date {
      padding-right: 30px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='26' viewBox='0 0 24 26' fill='none'%3E%3Cpath d='M15.0143 5.20778C15.0143 5.55797 15.3092 5.84439 15.6704 5.84439H16.2899C16.6511 5.84439 16.946 5.55797 16.946 5.20778V0.636653C16.946 0.286463 16.6511 4.39861e-05 16.2899 4.39861e-05H15.6704C15.3092 4.39861e-05 15.0143 0.286463 15.0143 0.636653V2.30029H8.13574V4.78203H15.0143V5.20778ZM10.4725 13.3514H12.2197C12.4192 13.3514 12.5821 13.5148 12.5821 13.7138V15.4611C12.5821 15.6606 12.4192 15.8235 12.2197 15.8235H10.4725C10.2734 15.8235 10.1105 15.6606 10.1105 15.4611V13.7138C10.1105 13.5148 10.2734 13.3514 10.4725 13.3514ZM10.4725 17.5159H12.2197C12.4192 17.5159 12.5821 17.6788 12.5821 17.8779V19.6251C12.5821 19.8246 12.4192 19.9875 12.2197 19.9875H10.4725C10.2734 19.9875 10.1105 19.8246 10.1105 19.6251V17.8779C10.1105 17.6788 10.2734 17.5159 10.4725 17.5159ZM10.4725 9.18741H12.2197C12.4192 9.18741 12.5821 9.35073 12.5821 9.54981V11.2971C12.5821 11.4966 12.4192 11.6595 12.2197 11.6595H10.4725C10.2734 11.6595 10.1105 11.4966 10.1105 11.2971V9.54981C10.1105 9.35073 10.2734 9.18741 10.4725 9.18741ZM15.2674 9.18741H17.0146C17.2141 9.18741 17.377 9.35073 17.377 9.54981V11.2971C17.377 11.4966 17.2142 11.6595 17.0146 11.6595H15.2674C15.0683 11.6595 14.905 11.4966 14.905 11.2971V9.54981C14.905 9.35073 15.0683 9.18741 15.2674 9.18741ZM15.2674 17.5159H17.0146C17.2141 17.5159 17.377 17.6788 17.377 17.8779V19.6251C17.377 19.8246 17.2142 19.9875 17.0146 19.9875H15.2674C15.0683 19.9875 14.905 19.8246 14.905 19.6251V17.8779C14.905 17.6788 15.0683 17.5159 15.2674 17.5159ZM15.2674 13.3514H17.0146C17.2141 13.3514 17.377 13.5148 17.377 13.7138V15.4611C17.377 15.6606 17.2142 15.8235 17.0146 15.8235H15.2674C15.0683 15.8235 14.905 15.6606 14.905 15.4611V13.7138C14.905 13.5148 15.0683 13.3514 15.2674 13.3514ZM6.02919 9.18741H7.77644C7.97552 9.18741 8.13884 9.35073 8.13884 9.54981V11.2971C8.13884 11.4966 7.97552 11.6595 7.77644 11.6595H6.02919C5.83011 11.6595 5.66679 11.4966 5.66679 11.2971V9.54981C5.66679 9.35073 5.83011 9.18741 6.02919 9.18741ZM6.02919 17.5159H7.77644C7.97552 17.5159 8.13884 17.6788 8.13884 17.8779V19.6251C8.13884 19.8246 7.97552 19.9875 7.77644 19.9875H6.02919C5.83011 19.9875 5.66679 19.8246 5.66679 19.6251V17.8779C5.66679 17.6788 5.83011 17.5159 6.02919 17.5159ZM19.4622 2.30024H18.109V4.78198H19.4622C20.0736 4.78198 20.5668 5.27479 20.5668 5.88653V22.4139C20.5668 23.0253 20.0736 23.5181 19.4622 23.5181H3.58596C2.97455 23.5181 2.48141 23.0253 2.48141 22.4139V5.88653C2.48141 5.27468 2.97463 4.78198 3.58596 4.78198H5.04037V5.20774C5.04037 5.55793 5.33572 5.84435 5.69647 5.84435H6.3164C6.67673 5.84435 6.97209 5.55793 6.97209 5.20774V0.636609C6.97209 0.286419 6.67673 0 6.3164 0H5.69647C5.3357 0 5.04037 0.286419 5.04037 0.636609V2.30024H3.58596C1.61813 2.30024 0 3.9183 0 5.88664V22.414C0 24.3819 1.61806 26 3.58596 26H19.4622C21.4301 26 23.0482 24.3819 23.0482 22.414V5.88664C23.0482 3.91839 21.4301 2.30024 19.4622 2.30024ZM6.02919 13.3514H7.77644C7.97552 13.3514 8.13884 13.5148 8.13884 13.7138V15.4611C8.13884 15.6606 7.97552 15.8235 7.77644 15.8235H6.02919C5.83011 15.8235 5.66679 15.6606 5.66679 15.4611V13.7138C5.66679 13.5148 5.83011 13.3514 6.02919 13.3514Z' fill='%23A3AED0'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 24px 26px;
      background-position: 100% 22px;
    }

    &--mini {
      padding-top: 0;
      height: 30px;
    }
  }

  &__label {
    color: #2B3674;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: text;
    transform: translateY(23px);
    transition: all 0.2s ease-out;
  }

  &__helper-text {
    padding-top: 2px;
    min-height: 26px;
    color: #A3AED0;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  &__select {
    display: block;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #A3AED0;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    height: 40px;
    color: #2B3674;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M5 8L0.669873 0.499999L9.33013 0.5L5 8Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 10px 8px;
    background-position: 100% 50%;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
}

.input-field__text:focus ~ .input-field__label,
.input-field__text:not(:placeholder-shown) ~ .input-field__label {
  transform: translateY(1px);
  color: #A3AED0;
  font-size: 12px;
}

.input-field__text:focus,
.input-field__text:not(:placeholder-shown) {
  border-bottom-color: #19BB77;
}

.input-field__text.placeholder-shown::placeholder {
  opacity: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #A3AED0;
}

.dashboard__card__form__caption {
  padding-top: 37px;
  padding-bottom: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #1F4DC1;

  &.pt-15 {
    padding-top: 15px;
  }
}

.dashboard__balance {
  padding-top: 20px;

  &__header {
    padding-bottom: 50px;
  }

  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    color: #000;
  }
}

.dashboard__balance {
  &__table {
    th {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      color: #A3AED0;
      padding: 0 3px 18px 0;
    }
  }

  td {
    padding: 18px 3px 18px 0;
  }

  &__currency {
    color: #1F4DC1 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &__value {
    color: #2B3674 !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  &__table-more {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    margin-top: 45px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #A3AED0;
    }

    span {
      display: inline-flex;
      align-items: center;
      color: #A3AED0;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      padding: 0 20px;
      background: #fff;
      position: relative;
      z-index: 2;

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid #A3AED0;
        margin-left: 14px;
      }
    }
  }
}

.tpad20 {
  padding-top: 20px;
}

textarea.form-control {
  height: 125px;
  resize: none;
  --bs-border-radius: 6px;
  --bs-border-color: #A3AED0;
  padding: 10px 16px;
  color: #2B3674;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  &::placeholder {
    opacity: 1;
    color: #A3AED0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.input-field__info {
  position: relative;

  .input-field__text {
    padding-right: 40px;
  }

  .btn-info {
    position: absolute;
    z-index: 10;
    bottom: 12px;
    right: 0;
  }
}

.dashboard__card__tabs {
  background: rgba(163, 174, 208, 0.1);
  border-bottom: 1px solid rgba(163, 174, 208, 0.5);

  .nav-link {
    height: 50px;
    color: #000000;
  }

  .nav-item {
    border-right: 1px solid rgba(163, 174, 208, 0.50);
  }
}

.nav-pills .nav-link {
  --bs-nav-pills-border-radius: 0;
  --bs-nav-link-padding-x: 40px;
  --bs-nav-link-font-size: 16px;
  --bs-nav-link-font-weight: 500;

  &.active {
    --bs-nav-pills-link-active-bg: #1F4DC1;
  }
}

.top-table-filter {
  padding: 25px 18px 25px 40px;
  border-bottom: 1px solid #1F4DC1;

  &__label {
    color: #A3AED0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  &__value {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .input-field__select {
    color: #000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M5 8L0.669873 0.499999L9.33013 0.5L5 8Z' fill='%23A3AED0'/%3E%3C/svg%3E");
  }
}

.dashboard__card__table-box {
  padding-bottom: 22px;
}

.input-field__select.input-field__select--min {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-table-filter__views {
  margin-left: 45px;
}

.top-table-filter__search {
  margin-left: auto;
  margin-right: 147px;
  width: 268px;
}

.top-table-filter__fullscreen {
  color: #A3AED0;
  display: block;
  text-decoration: none;

  &:hover {
    color: #2b3674;
  }
}

.table-filter {
  &__item-sort {
    opacity: 0;
  }

  thead {
    tr {
      td {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #A3AED0;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        vertical-align: top;

        &:first-child {
          padding-left: 40px;
        }
      }

      &:first-child {
        td {
          background: rgba(163, 174, 208, 0.05);
        }
      }
    }
  }

  tbody tr {
    td {
      padding-top: 15px;
      padding-bottom: 15px;
      vertical-align: middle;
      color: #2B3674;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;

      &:first-child {
        padding-left: 40px;
      }
    }

    &:hover {
      td {
        color: #1F4DC1;

        .comment {
          color: #1F4DC1;
        }

        .table-filter__item-sort {
          opacity: 1;
        }
      }
    }
  }

  &__dropdown {
    display: inline-block;
    vertical-align: top;
    min-height: 30px;
    align-items: center;
    position: relative;


    .dropdown-toggle {
      color: #A3AED0;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      background: transparent;
      border: none;
      min-height: 30px;
      text-align: left;
      padding: 0;

      &::after {
        border-width: 6px 4px 0 4px;
      }

      &.active {
        color: #000;

        &::after {
          transform: rotate(180deg);
        }
      }
    }

    .accordion-collapse {
      border-radius: 10px !important;
      position: absolute;
      z-index: 10;
      top: -20px;
      left: -30px;
      box-shadow: 2px 2px 10px 0px rgba(174, 184, 215, 0.50);
      width: 341px;
    }

    &__body {
      padding: 20px 0 25px 30px;
      background: #FFF;
      border-radius: 10px;

      .count {
        color: #A3AED0;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
    }

    &__header {
      padding-right: 40px;
      padding-bottom: 10px;
    }

    &__search {
      width: 213px;
      position: relative;

      &__submit {
        position: absolute;
        z-index: 10;
        bottom: 20px;
        left: 0;
        background: transparent;
        border: none;
        color: #A3AED0;

        &:hover {
          color: #2B3674;
        }
      }
    }

    &__list {
      padding-right: 10px;
      max-height: 155px;
      overflow-y: auto;
      overflow-x: hidden;

      .nav {
        li {
          width: 271px;

          &:not(:last-child) {
            padding-bottom: 15px;
          }
        }
      }
    }

    &__footer {
      padding-top: 35px;
    }

  }

  &__col-order {
    a {
      text-decoration: none;
      color: #A3AED0;

      &:hover {
        color: #2b3674;
      }
    }
  }
}

.form-control:focus {
  box-shadow: none !important;
}

.input-field.input-field--left-ico {
  .input-field__text {
    padding-left: 35px;
  }
}

.input-field.input-field--right-ico {
  .input-field__text {
    padding-right: 35px;
  }
  .input-field__ico {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 24px;
  }
}


.form-check {
  padding-left: 35px;
  margin: 0;

  &-input {
    width: 20px;
    height: 20px;
    border-radius: 6px !important;
    margin: 2px 0 0 -35px !important;

    &:focus {
      box-shadow: none;
    }

    &:checked {
      background-color: #1F4DC1;
      border-color: #1F4DC1;
    }
  }

  &-label {
    color: #2B3674;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    user-select: none;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-striped-bg: rgba(163, 174, 208, 0.05);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-hover-color: #1F4DC1;
  --bs-table-hover-bg: rgba(163, 174, 208, 0.2);
}

.btn-border {
  border: 1px solid #A3AED0;
  background: transparent;
  color: #A3AED0;
}

.color-silver {
  color: #A3AED0;
}

td {
  .comment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2B3674;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    max-width: 220px;
  }
}

.ico-link {
  color: #a3aed0;
  text-decoration: none;

  &:hover,
  &.active {
    color: #1F4DC1;
  }
}

.dashboard__card__table-box__footer {
  padding: 20px 20px 0 40px;
  border-top: 1px solid #1F4DC1;
}

.nav--pagination {
  li:not(:last-child) {
    margin-right: 3px;
  }

  .page {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;

    &.active {
      background: #1F4DC1;
      color: #fff;
    }
  }

  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 2px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.dashboard__main__body__footer-btns {
  padding-top: 30px;
}

.btn-reset {
  background: #FFF;
  color: #A3AED0;
  box-shadow: 3px 3px 20px 0px #E7EDFF;
}

.btn-outline-success {
  --bs-btn-color: #19BB77;
  --bs-btn-border-color: #19BB77;
}

.sidebar__informer {
  padding: 70px 15px 90px;

  &__inner {
    position: relative;
    border-radius: 20px;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    background: linear-gradient(311deg, rgba(0, 0, 0, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%);
    backdrop-filter: blur(32.5px);
    padding: 30px 15px 27px;
    min-height: 210px;
  }

  &__img {
    display: flex;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    justify-content: center;
    margin-bottom: -25px;
    z-index: 10;
  }

  &__caption {
    opacity: 0.5;
    white-space: nowrap;
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  &__description {
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 26px;
  }

  &__link {
    width: 100%;
    justify-content: center;
    position: relative;
    border: 1px solid #A3AED0;
    color: #fff;

    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }
}

.col-balance-top {
  width: 610px;
  margin-left: auto;
}

.col-1-3 {
  width: 30%;
}

.btn-success--shadow {
  box-shadow: 3px 3px 20px 0px #E7EDFF;
}

.color-green {
  color: #19BB77;
}

.rating-td {
  display: flex;
  align-items: center;

  &__stars {
    width: 88px;
    min-width: 88px;
    height: 14px;
    position: relative;

    &__passive {
      position: relative;
      z-index: 1;
      color: #A3AED0;
      width: 88px;
      min-width: 88px;
    }

    &__active {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      height: 100%;
      overflow: hidden;

      svg {
        width: 88px;
        min-width: 88px;
        color: #FFCA1C;
      }
    }
  }

  &__value {
    padding-left: 4px;
    color: #000;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.text-right {
  text-align: right;
}

.input-field.h-40 {
  padding-bottom: 0;

  .input-field__text {
    height: 40px;
    padding-top: 10px;
    background-position: 100% 6px;
  }

  .input-field__label {
    font-size: 14px;
    color: #A3AED0;
    transform: translateY(14px);
  }

  .input-field__text:focus ~ .input-field__label,
  .input-field__text:not(:placeholder-shown) ~ .input-field__label {
    transform: translateY(-5px);
    color: #A3AED0;
    font-size: 12px;
  }
}

.table-filter__dropdown__date {
  padding-right: 17px;
}

.dashboard__card__tabs--top {
  border-radius: 20px 20px 0 0;

  li:first-child {
    .nav-link {
      border-radius: 20px 0 0 0;
    }
  }
}

.nav-pills .nav-link.active .color-green {
  color: #fff;
}

.btn-outline-warning {
  --bs-btn-color: #F2994A;
  --bs-btn-border-color: #F2994A;
}

.top-table-filter__search__submit {
  position: absolute;
  z-index: 2;
  top: 3px;
  right: 0;
  border: none;
  background: transparent;
  color: #A3AED0;
  padding: 0;
}

.top-table-filter__search {
  position: relative;

  .input-field__text {
    padding-right: 30px;
  }
}

@media (min-width: 1300px) {
  .modal-xl {
    --bs-modal-width: 1280px;
  }
}

.modal-content {
  border: none !important;
  --bs-modal-border-radius: 20px;
  overflow: hidden;
  box-shadow: 3px 3px 20px 0px #E7EDFF;
}
.modal-backdrop {
  --bs-backdrop-bg: #F4F7FE;
}

.modal-reg {
  min-height: 820px;
  &__col-left {
    width: 500px;
    min-width: 500px;
    background: url("../images/dist/bg-modal.jpg") 50% 50% no-repeat;
    background-size: cover;
    padding: 85px 58px 100px 30px;
    display: flex;
    flex-direction: column;
    &__logo {
      display: flex;
      justify-content: flex-end;
    }
    &__info {
      margin: auto 0;
      width: 100%;
      text-align: right;
      color: #A3AED0;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      a {
        color: #19BB77;
        text-decoration: none;
      }
    }
  }

  &__col-right {
    position: relative;
    padding: 120px 130px 130px 150px;
    flex-grow: 1;
    .modal-reg__close {
      position: absolute;
      z-index: 1;
      top: 30px;
      right: 30px;
      background: transparent;
      border: none;
      opacity: 1;
      color: #A3AED0;
    }
  }

  &__header {
    padding-bottom: 30px;
    h2 {
      position: relative;
      margin: 0;
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 32px;
    }
  }
}

.modal-link {
  color: #A3AED0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.color-green {
  color: #19BB77 !important;
}

.user-role {
  padding-bottom: 75px;
  &__item {
    width: calc(50% - 10px);
    padding-bottom: 25px;
    label {
      display: block;
      cursor: pointer;
      user-select: none;
      input {
        display: none;
        &:checked + .user-role__item__wrap {
          color: #000;
          border-color: #19BB77;
        }
      }
      .user-role__item__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 97px;
        padding: 10px 30px 10px 26px;
        border-radius: 10px;
        border: 4px solid transparent;
        background: #fff;
        box-shadow: 3px 3px 20px 0px #E7EDFF;
        transition:all 0.2s ease-in-out;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        color: #A3AED0;
        svg {
          min-width: 41px;
          margin-left: 10px;
          display: block;
        }
      }
    }
  }

}
.modal-reg__form {
  max-width: 327px;
}

.input-field__label span {
  color: #A3AED0;
}
.form-check-input {
  --bs-form-check-bg: rgba(163, 174, 208, 0.5)
}
.form-check-label a {
  color: #2B3674;
  text-decoration: none;
}

.btn-h50 {
  height: 50px;
  border-radius: 25px;
}
.modal-reg__header__back {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  right: 100%;
  width: 35px;
  color: #A3AED0;
}


